@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-primary: black;
  --color-secondary: rgba(130, 138, 186, 1);
  --color-btn: rgba(90, 106, 232, 1);
  --color-btn-bg: rgba(90, 106, 232, 0.05);
  --color-light-red:#EA241F0D;
  --color-subtitle: rgba(151, 158, 197, 1);
  --color-light-gray: rgba(245, 246, 255, 1);
  --color-line: rgba(218, 214, 255, 1);
  --color-graish: rgba(233, 232, 248, 1);
  --color-gold: rgba(252, 194, 48, 1);
  --color-semi-white: #f8f8f8;
  --color-light-white: #fbfbfb;
  --color-placeholder: rgba(189, 193, 223, 1);
  --color-accent: #00ff00;
  --color-overlay: rgba(0, 0, 0, 0.6);
  --font-switzer: "Switzer";
  --font-allura: "Allura";
}

@font-face {
  font-family: "Allura";
  src: url("/fonts/Allura-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Regular.otf") format("opentype");
  font-display: swap;
}

@layer base {
  body {
    @apply font-switzer bg-white text-primary;
  }

  .overlay {
    @apply absolute inset-0 bg-black/70;
  }

  .input {
    @apply w-full h-14 border border-placeholder rounded-lg px-2 py-3 bg-transparent placeholder:text-placeholder text-gray-500 text-base focus:outline-none transition-all duration-150;
  }

  .base-btn {
    @apply flex items-center border border-btn justify-center gap-4 w-full lg:w-fit flex-wrap py-3.5 px-2 lg:px-8 rounded-full bg-btn text-white;
  }

  .base-btn:hover {
    @apply cursor-pointer bg-white text-btn;
  }

  .icon {
    @apply cursor-pointer flex items-center justify-center bg-light-gray/50 rounded-full size-12;
  }

  .order-time {
    @apply bg-transparent flex items-center flex-row-reverse;
  }

  .default {
    @apply w-1/2 h-12 border border-light-gray rounded-md flex justify-between items-center gap-3 px-4 cursor-pointer bg-white;
  }
}

.input_wrapper.error select,
.input_wrapper.error input {
  border-color: #ef4444;
}

.label_active {
  color: var(--text-color, #333);
}

.branch-list::-webkit-scrollbar {
  width: 6px;
}

.branch-list::-webkit-scrollbar-track {
  background: transparent;
}

.branch-list::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 9999px;
}

.branch-list::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

.swiper {
  transition-timing-function: linear !important;
}




body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 9999px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}