@import "tailwindcss";
@import "@nuxt/ui";
@theme {
  --color-primary: black;
  --color-secondary:rgba(130, 138, 186, 1);
  --color-btn:rgba(90, 106, 232, 1);
  --color-subtitle:rgba(151, 158, 197, 1);
  --color-light-gray:rgba(245, 246, 255, 1);
  --color-graish:rgba(233, 232, 248, 1);
  --color-gold:rgba(252, 194, 48, 1);

  --color-placeholder:rgba(189, 193, 223, 1);
  --color-accent: #00ff00; 
  --color-overlay: rgba(0, 0, 0, 0.6);
  --font-switzer: "Switzer";
  --font-allura: "Allura";
}

@font-face {
  font-family: "Allura";
  src: url("/fonts/Allura-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Regular.otf") format("opentype");
  font-display: swap;
}

@layer base {
   body {
    @apply font-switzer bg-white text-primary;
  }
  .overlay{
  @apply absolute inset-0 bg-black/70;
}
  .input {
    @apply w-full border  border-placeholder rounded-lg px-3 py-3 bg-transparent text-placeholder text-sm
    focus:outline-none focus:ring-2 focus:ring-secondary transition-all duration-150;
  }

}

.input_wrapper.error select,
.input_wrapper.error input {
  border-color: #ef4444;
}
.label_active {
  color: var(--text-color, #333);
}