@import "tailwindcss";
@import "@nuxt/ui";
@theme {
  --color-primary: black;
  --color-secondary:rgba(130, 138, 186, 1);
  --color-btn:rgba(90, 106, 232, 1);
  --color-placeholder:rgba(189, 193, 223, 1);
  --color-accent: #00ff00; 
  --color-overlay: rgba(0, 0, 0, 0.6);
  --font-switzer: "Switzer";
  --font-allura: "Allura";
}

@font-face {
  font-family: "Allura";
  src: url("/fonts/Allura-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Regular.otf") format("opentype");
  font-display: swap;
}

@layer base {
   body {
    @apply font-switzer bg-white text-primary;
  }
  .overlay{
  @apply absolute inset-0 bg-black/50;
}

}

.input_wrapper.error select,
.input_wrapper.error input {
  border-color: #ef4444;
}
.label_active {
  color: var(--text-color, #333);
}